#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  background-color: #aaf237;
  padding-top: 100px;
  border-radius: 25px;
  box-shadow: 0px 0px 22px 1px ;
}

h2{
  background-color: #4ef7f4;
  width: 50%;
  margin-left: 21%;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid gray;
}

button{
  border: none;
  width: 50%;
  margin-left: 25%;
}

.add{
  margin-top: 25%;
}

button:hover{
  background-color: aqua;
  transform: scale(1.2);
}